@import 'commons';

.mat_input_form {
    width: 100%;
    position: relative;
    i{
        position: absolute;
        right: 0px;
        top: 2px;
    }
    .full-width {
        width: 100%;
    }
}

.disabled{
    pointer-events: none;
    opacity: 0.7;
}

:host-context(.noir) {
    ::ng-deep {
        .mat-form-field-underline {
            background-color: $NOIR017;
        }
    }
}
