@import 'color-palettes';

$Y: #f3af1a;
$Y001: #fbecce;
$Y002: #f8c350;
$Y003: #f3af1a;
$Y004: #d28c03;
$Y005: #ffa86b;
$Y006: #fdd13b;

$B: #0d91e9;
$B001: #e3f2fd;
$B002: #0d91e9;
$B003: #096aa9;
$B004: #033c61;
$B005: #31353e;
$B006: #414b60;
$B007: #333c51;
$B008: #4c566e;
$B009: #2a2b2e;
$B010: #3b3e46;
$B011: #0b7dc9;
$B012: #35a8f4;
$B013: #4a90e2;
$B014: #52689b;
$B015: #2b3849;
$B016: #52689b;
$B100: #b3d9ff;
$B300: #4da5fe;
$B500: #52689B;
$B600: #39496d;
$DV_BLUE: #007ffe;

$T: #30cd9a;

$OL: #c8a429;

$K: #0f172a;
$K000: #f6f6f6;
$K001: #cacccf;
$K002: #56595d;
$K003: #2c323a;
$K004: #13171c;
$K005: #202020;
$DK: #283548;
$WidgetDKBG: #1d2537;
$iconDKBgColor: #3c485b;
$dividerLines_noir: #344363;
$dividerLines_light: #d1d5df;

$GR001: #686e7c;
$GR002: #999999;
$GR003: #66718a;
$GR004: #757e92;
$GR005: #979eaf;
$GR006: #d1d5df;
$GR007: #eceef2;
$GR008: #f4f6f9;
$GR009: #ffffff;
$GR010: #979797;
$GR012: #d8d8d8;
$GR013: #37383e;
$GR014: #d2d8e7;
$GR015: #2a3d5d;
$GR016: #6a7991;
$GR017: #323c50;
$GR018: #A1A8B7;
$GR019: #ABABAB;
$GR020: #D9D9D9;
$GR021: #FBFBFB;
$GR022: #747474;
$GR023: #dadada;
$GRAPH_BORDER_NOIR: #525252;

$R001: #d0021b;
$Y001: #f5a623;

$Grid_Indicator_0: #f95050;
$Grid_Indicator_1: #fa9000;
$Grid_Indicator_2: #f95050;
$Grid_Indicator_3: #fa9000;
$Grid_Indicator_4: #f8c350;
$Grid_Indicator_5: #f8c350;
$Grid_Indicator_6: #fd6c6e;

$HELP_MODE_BG: #7e57c2;
$HELPER: #95a9c7;
$seeMore_noir: #35a8f4;

$BL000: #e3f2fd;
$BL001: #65bcf6;
$BL002: #0d91e9;
$BL003: #0d9100;

$DIVIDER: 5px;

$DISPLAY_SIZE: 36px;
$HEADLINE_SIZE: 24px;
$TITLE_SIZE: 20px;
$SUBHEADING_SIZE: 16px;
$BODY_SIZE: 14px;
$SMALL_SIZE: 13px;
$INFO_SIZE: 12px;

$NOIR011: #1d2537;
$NOIR012: #283548;
$NOIR013: #6e83b2;
$NOIR014: #344363;
$NOIR015: #52689b;
$NOIR016: #6279ac;
$NOIR017: #8496be;
$NOIR018: #d2d8e7;
$NOIR019: #747e92;
$NOIR020: #2d3a59;
$NOIR021: #303b57;
$NOIR022: #323c55;

$NOIR_TITLE: #d28c03;
$NOIR_PRIMARY_HOVER: #35a8f4;
$NOIR_CHART_PRIMARY: #8496be;

$NOIR_BODY_BG: #0f172a;
$NOIR_NAV_BG: #1d2537;
$NOIR_NAV_HIGHLIGHT_BG: #283548;
$NOIR_PANEL_BG: #1d2537;
$NOIR_HL_BG: #151c2b;
$NOIR_PRIMARY: #0d91e9;
$NOIR_BODY_TEXT: #f4f6f9;
$NOIR_PAGE_TITLE: #d48d00;
$NOIR_SUB_HEADER: #6279ac;
$NOIR_ADDITIONAL_TEXT: #8496be;
$NOIR_CHIP_BG: #393939;
$NOIR_PANEL_TITLE: #6279ac;
$NOIR_DIVIDER: #39496d;
$NOIR_SCROLL_BAR_THUMB: #39496d;
$NOIR_SCROLL_BAR_TRACK: #1d2537;
$NOIR_PANEL_CRACK: #283548;
$NOIR_TABLE_BG: #1e2538;
$NOIR_TABLE_ALTER: #283548;
$NOIR_TABLE_ALTER_BG: #243042;
$NOIR_TABLE_HEADER: #d2d8e7;
$NOIR_REASON_CODE: #ff794e;
$NOIR_DROPDOWN_BG: #3d5172;
$NOIR_TAB_INK_BAR: #243042;
$NOIR_REVIEW_PANEL: #2e3850;
$NOIRT_TEXTARE_BG: #1b3354;
$NOIR_MESSAGE_BAR_BG: #232f4c;
$NOIR_MESSAGE_BAR_BORDER: #8496be;

$NOIR_EDITOR_BACKGROUND: #1b2b34;
$NOIR_EDITOR_TEXT: #d4d4d4;
$NOIR_EDITOR_KEYWORD: #c594c5;

$NOIR_ALTER_ROW_BG: #283548;
$NOIR_SELECT_ROW_BG: #39496d;
$NOIR_HOVER_ROW_BG: #465366;

$LIGHT_BODY_BG: #f4f6f9;
$LIGHT_NAV_BG: #1d2537;
$LIGHT_PANEL_BG: #ffffff;
$LIGHT_PANEL_CRACK: #f4f6f9;
$LIGHT_HL_BG: #d2d8e7;
$LIGHT_PRIMARY: #0d91e9;
$LIGHT_BODY_TEXT: #1d2537;
$LIGHT_PAGE_TITLE: #d48d00;
$LIGHT_SUB_HEADER: #6279ac;
$LIGHT_ADDITIONAL_TEXT: #8496be;
$LIGHT_CHIP_BG: #8496be;
$LIGHT_PANEL_TITLE: #52689b;
$LIGHT_DIVIDER: #d2d8e7;
$LIGHT_SCROLL_BAR_THUMB: #8496be;
$LIGHT_SCROLL_BAR_TRACK: #ffffff;
$LIGHT_TABLE_BG: #f4f4f4;
$LIGHT_TABLE_ALTER_BG: #f4f6f9;
$LIGHT_TABLE_ALTER: #f4f6f9;
$LIGHT_TABLE_HEADER: #39496d;
$LIGHT_REASON_CODE: #ff5722;
$LIGHT_DROPDOWN_BG: #ffffff;
$LIGHT_TAB_INK_BAR: #f6f7f8;
$LIGHT_MESSAGE_BAR_BORDER: #8496b7;
$LIGHT_MESSAGE_BAR_BG: #d2d8e7;
$LIGHT_MESSAGE_BAR_MSG: #243042;

$LIGHT_ALTER_ROW_BG: #f4f4f4;
$LIGHT_SELECT_ROW_BG: #b3d9ff;
$LIGHT_HOVER_ROW_BG: #e0e0e0;

$NOIR_TAG_BG: #6e83b2;
$NOIR_FIELD: #52689b;
$NOIR_SECONDARY: #6279ac;
$NOIR_ICON: #d2d8e7;
$NOIR_G_ICON: #8894af;
$NOIR_BODY: #d2d8e7;
$NOIR_BODY_BG_DARKER: #151c2b;

$NOIR_NOTIFICATION: #30cd9a;
$NOIR_LOW_RISK: #fec821;
$NOIR_MEDIUM_RISK: #fa9000;
$NOIR_HIGH_RISK: #ff5722;
$NOIR_ERROR: #ff5722;

$LIGHT_BG001: #ffffff;
$LIGHT_BG002: #f4f6f9;
$LIGHT_BG003: #eceef2;
$LIGHT_BG004: #d1d5df;
$LIGHT_BG005: #979eaf;
$LIGHT_BTN: #757e92;
$LIGHT_ICON: #66718a;
$LIGHT_FONT: #033c51;

$ERROR: #f95050;
$ERROR_COLOR: #ff5722;
$WARNING_COLOR: #fa9000;
$LOW_RISK_COLOR: #fec821;
$INDICATOR_COLOR: #f3af1a;
$NOTIFICATION_COLOR: #30cd9a;

$LICENSE_PRIMARY_COLOR: #29bb9c;
$LICENSE_MEDIUM_COLOR: #fec821;
$LICENSE_BAD_COLOR: #ff5722;
$SUCCEED_COLOR: #29bb9c;
$RUNNING_COLOR: #fec821;
$FAILED_COLOR: #ff5722;

$CHART_COLOR_ARRAY: #29bb9c #ecf0f1 #f0c330 #f99815 #00645a #40c4ff #2980b9 #c3d357 #c09040 #886084;

$TEXT_BUTTON_CLR: #6279ac;
$TEXT_BUTTON_CLR_HOVER_BG: #344363;
$PRIMARY_BTN_CLR: $B;
$SECONDARY_BTN_CLR: #6279ac;
$DV_TOOLTIP_BG: #2c323a;
$SLIDE_TOGGLE_THUMB_BG: #7f8182;
$SLIDE_TOGGLE_BAR_BG: #c8ced2;
$NOIR_HIGH_PRIORITY: #febc00;
$NOIR_STRONG_FEATURE: #e86d64;
$LIGHT_HIGH_PRIORITY: #d79300;
$LIGHT_STRONG_FEATURE: #de2e21;
$PAGE_MARGIN: 35px;

$DARK_ERROR: #61474b;

$SPINNER_TRACK_BG: #323c51;
$NEW_DATASET: #6abf4b;

$WIDTH_1: percentage(1/64);
$WIDTH_2: percentage(2/64);
$WIDTH_3: percentage(3/64);
$WIDTH_4: percentage(4/64);
$WIDTH_5: percentage(5/64);
$WIDTH_6: percentage(6/64);
$WIDTH_7: percentage(7/64);
$WIDTH_8: percentage(8/64);
$WIDTH_10: percentage(10/64);
$WIDTH_12: percentage(12/64);
$WIDTH_14: percentage(14/64);
$WIDTH_16: percentage(16/64);
$WIDTH_20: percentage(20/64);

$REGULAR_WEIGHT: 400;
$MEDIUM_WEIGHT: 500;
$LIGHT_WEIGHT: 300;

$G: #34c857;
$GREEN: #65d276;
$WARNING: #f3af1a;
$ORANGE: #e86d64;
$DKBG: #393939;
$LIGHTDARKBG: #262626;
$P1: #6b48a8;
$P2: #a088ca;
$ORANGE_1: #ffa126;
$HINT_ICON: #b8b8b8;

$PURPLE: #673ab7;
$ORANGETITLE: #f99815;
